<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#d5d3d4">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, viewport-fit=cover">
    <link rel="stylesheet" href="/css/styles.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="icon" href="/images/favicon.png">
    <title>Plan Your Day - Ooops!</title>
</head>

<body>
    <section id="preloader"></section>
    <header>
        <h1>Ooops!</h1>
    </header>
    <main>
        <h3>That e-mail is already taken!</h3>
        <form action="/login" method="GET">
            <button class="login-button" type="submit">Try again</button>
        </form>
    </main>
    <footer>
        <span>© <%=year%> <a href="https://www.markososkic.com/" target="_blank" rel="noopener noreferrer">Marko
                    Soskic</a></span>
    </footer>
    <script src="/scripts/index.js"></script>
</body>

</html>